@{
    ViewData["Title"] = "Detalle de cliente";
}

@* TODO: Companeros, implementar la vista con toda la informacion de un cliente especifico y sus telefonos. *@
<h1 class="h3">Detalle de cliente</h1>
